<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="brandNew Automation Suite" parallel="tests" thread-count="3">

    <test name="Home Page Test">
        <classes>
            <class name="tests.OpenHomePageTest"/>
        </classes>
    </test>

    <test name="Basic Auth Test">
        <classes>
            <class name="tests.BasicAuthTest"/>
        </classes>
    </test>

</suite>
